.open-user-button {
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  background-color: #cbf078;
  cursor: pointer;
  border: 3px solid black;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
